    /*
    1.- INICIO
		1.1.- SLIDER
    2.- NOSOTROS
    3.- CLIENTES
    4.- SERVICIOS
    5.- CONTACTO
    10.- GLOBAL
    10.1.- SPRITE
    */
    /*------------------------------------- 1.-INICIO -------------------------------------*/
	body
	{
		background:#eee;
		color:#333;		
		font:16px Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
		text-align:center;
	}
    
    header #logo_empresa
    {
        height:100px;
        width:80%;
    }

    footer
    {
        border-top:1px solid rgba(0, 0, 0, 0.5);
        border-bottom:1px solid rgba(0, 0, 0, 0.5);
        color:rgb(140, 5, 5);
        font-size:0.7em;
        margin-top:2em;
        text-shadow:3px 3px 25px #AAA;
        padding:0.5em 1em 0 1em;
		position:relative;
    }

    footer article
    {
        display:inline-block;
        margin:0 1%;
        vertical-align: top;
        width: 28%;
    }
    
    footer i
    {
        font-size:1.5em;
    }

    footer article img
    {
        width: 50%;
    }

    footer #info_empresa span
    {
        display: block;
    }

	nav
	{
        /*background-image: linear-gradient(to bottom, #CC9999, #990000);*/
		background:#990000 url("../img/back50.jpg") repeat-x;
		border:1px solid #222;
		box-shadow:5px 5px 25px #000;
        color:#FFF;
		margin-bottom:0.8em;
		padding:0.2em;
		text-align:left;
		transition: all 3s linear;
	}
	
	nav a
	{
		color: #FFF;
		font-size: 1.1em;
		text-decoration:none;
		text-shadow:3px 5px 10px #222;
	}
	
	nav li
	{
		border-left:1px solid #222;
		display:inline-block;
		height:100%;
		text-align:center;
		vertical-align:top;
		width:7.8em;
	}
	
	nav li a, nav li span
	{
		display:block;
		transition: all 1s ease;
	}
	
	nav span
	{
		font-size: 0.7em;
	}
	
	nav ul
	{
		height:2.5em;
		margin:0;
		padding:0 0.2em;
	}
	
	nav ul li:hover a
	{
		color:#DDD;/*#6343d9;*/
		position:relative;
		transform:scale(1.2);
	}
	
    nav ul li:hover span
	{
		color:#DDD;
        transform:scale(0.7);
	}
	
    section#pnlWorkSpace
    {
        margin:0 1em 0 1em;
    }

    section#pnlWorkSpace p
    {
        text-align: justify;
    }
		/*------------------------------------- 1.1.-SLIDER -------------------------------------*/
	.slider-wrapper 
	{
		margin: 1em auto; 
		width: 90%;
	}
	/*------------------------------------- 2.-NOSOTROS -------------------------------------*/
    
    /*------------------------------------- 3.-CLIENTES -------------------------------------*/

    /*------------------------------------- 4.-SERVICIO ------------------------------------------*/
    /*------------------------------------- 5.-CONTACTO -------------------------------------*/
    /*------------------------------------- 10.-GLOBAL -------------------------------------*/
	#load_content
	{
		overflow:hidden;
	}    
    .isHidden
    {
    display              :none;
    }
    
    .isHiddenSp
    {
    display              :none !important;
    }    
    .bordered
    {
    border               :1px solid blue;
    }    
    .borderedHr, .borderedHr > *
    {
    border               :1px solid blue;
    }	
    .borderedSp, .borderedSp *
    {
    border               :1px solid blue;
    }
    .cpointer
    {
    cursor               :pointer;
    }    
    .clear
    {
        clear: both;
    }
    i[class^ ='icon']
    {
    cursor               :pointer;
    }
    /*------------------------------------- 10.1.-ICONOS -------------------------------------*/
	.isLoadding
	{
		margin:10% 0;
	}

    .icon
    {
	cursor:pointer;
        background: url("../img/social-icons.jpg") no-repeat;
        border-radius:5em;
        display: inline-block;
        height: 2em;
        width: 2em;
    }

    .icon-facebook {background-position:-5px -5px;}
    .icon-facebook:hover {background-position:-5px -165px;}
    .icon-twitter {background-position:-45px -5px;}
    .icon-twitter:hover {background-position:-45px -165px;}
    .icon-google {background-position:-85px -5px;}
    .icon-google:hover {background-position:-85px -165px;}
    .icon-linkedin {background-position:-125px -5px;}
    .icon-linkedin:hover {background-position:-125px -165px;}
    .icon-youtube {background-position:-325px -5px;}
    .icon-youtube:hover {background-position:-325px -165px;}